@import url('./_styles.scss');

.form {
  background: var(--black-purple-radial-gradient);
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  filter: 
  drop-shadow(0px 4px 4px #ffffff80)
  drop-shadow(0px 8px 8px #00000040)
  drop-shadow(8px 8px 8px #00000040);
}

.title {
  color: var(--text-primary);
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: var(--text-primary);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.name-input {
  margin-top: 40px;
}

.email-input,
.message-input {
  margin-top: 30px;
}

.input {
  background: var(--black-gradient);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: var(--text-primary);
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.textarea {
  height: 200px;
  resize: none;
  outline: 0;
  padding: 25px 20px 0;
}

.cut {
  background: var(--black-purple-radial-gradient);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 80px;
}

.cut-long {
  width: 100px;
}


.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut,
.input:focus ~ .cut-long,
.input:not(:placeholder-shown) ~ .cut-long {
  transform: translateY(8px);
}

.placeholder {
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown):invalid ~ .placeholder {
  color: var(--shadow-pink);
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

:is(input, textarea):not(:placeholder-shown)
 {
  &:valid::after {
    outline: 1px ridge var(--shadow-green);
  }
  &:invalid::after {
    outline: 0.5px dashed var(--shadow-pink);
  }
}

input:placeholder-shown ~ .placeholder,
textarea:placeholder-shown ~ .placeholder {
  color: transparent;
  -webkit-text-fill-color: var(--text-primary);
}

.input:focus ~ .placeholder {
  color: transparent;
  -webkit-text-fill-color: var(--blue);
}

input:not(:placeholder-shown):valid ~ .placeholder,
textarea:not(:placeholder-shown):valid ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
  visibility: hidden;
  &::before {
    content: 'Confirmed ✓';
    font-size: 12px;
    color: var(--green);
    position: absolute;
    text-align: center;
    display: block;
    visibility: visible;
    height: 100%;
    width: 100%;
  }
}