:root {
  --text-off-white: #E7E7E7;
  --purple: #7F55D8;
  --blue: #50C4E8;
  --red: #D85571;
  --green: #91E774;
  --bronze: #CE9178;
  
  --shadow-purple: #7F55D8a5;
  --shadow-blue: #50C4E8a5;
  --shadow-red: #D85571a5;
  --shadow-green: #91E774a5;
  
  --dark-purple: #5A3A9F;
  --dark-blue: #2A9DB3;
  --dark-red: #63212b;
  --dark-green: #5A9F3A;

  --purple-blue-gradient: linear-gradient(135deg, var(--dark-purple), var(--dark-blue) 70%, transparent);
}