:root {
  /* These can all be accessed by using var(--variable-name) in your css <style> tags in your components, or by reusing them in your scss files (like how we are creating the green-pink-gradient class by referencing the --green and --pink variables from our color palette). */

  /* Fonts */
  --text-primary: #E7E7E7;
  --text-secondary: #aaa6c3;

  /* Standard Colors */
  --purple: #804dee;
  --blue: #56ccf2;
  --green: #00cea8;
  --red: #D85571;
  --pink: #ec008c;
  --bronze: #CE9178;
  
  /* Shadows */
  --shadow-purple: #804deea5;
  --shadow-blue: #56ccf2a5;
  --shadow-green: #00cea8a5;
  --shadow-red: #D85571a5;
  --shadow-pink: #ec008ca5;
  --shadow-inactive: #333333a5;
  
  /* Dark Colors */
  --dark-purple: #3e3164;
  --dark-blue: #314e64;
  --dark-green: #00664d;
  --dark-red: #63212b;
  --dark-pink: #7d003c;

  /* Gradients */
  --black-gradient: linear-gradient(to right, #232323, #000000);
  --black-gradient-alt: linear-gradient(to bottom, #000000, #232323);
  --black-transparent-gradient: linear-gradient(to right, #000000 0%, #110e19);
  --white-gradient: radial-gradient(circle at center, #F7F7F7dd 0%, #E7E7E799 70%, transparent);
  --purple-black-gradient: linear-gradient(to bottom, transparent 0, var(--dark-purple) 30%, transparent 65%);
  --black-purple-radial-gradient: radial-gradient(circle at center, #181326 0%, #0e0c13);
  --black-purple-radial-gradient-alt: radial-gradient(circle at center, #0e0c13 0%, #181326);
  --purple-gradient: linear-gradient(-90deg, var(--dark-purple) 0%, #231d2e99 100%);
  --purple-gradient-top: linear-gradient(0deg, var(--dark-purple) 0%, #231d2e99 100%);
  --green-pink-gradient: linear-gradient(90.13deg, var(--green) 1.9%, #bf61ff 97.5%);

  /* Borders */
  --border-inactive: 3px ridge #33333367;
}

/* These are the classes that we can use in our components to apply the styles we have defined in our scss file. We can use these classes in our components by adding them to the class
 attribute of the html element we want to style (e.g. <div class="purple-text-gradient">Hello World</div>). I have included necessary fallbacks for older browsers that do not support the 
 linear-gradient property. */

.text-primary {
  color: #E7E7E7 !important;
}

.text-secondary {
  color: #aaa6c3 !important;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #232323, #000000); /* Chrome 10-25|Safari 5.1-6 */
  background: linear-gradient(to right, #232323, #000000); /* W3C|IE 10+/Edge|Firefox 16+|Chrome 26+|Opera 12+|Safari 7+ */
}

.black-gradient-reverse {
  background: #000000;
  background: -webkit-linear-gradient(to left, #232323, #000000);
  background: linear-gradient(to left, #232323, #000000);
}

.purple-gradient {
  background: var(--dark-purple);
  background: linear-gradient(-90deg, var(--dark-purple) 0%, #231d2e99 100%);
  background: -webkit-linear-gradient(-90deg,
    var(--dark-purple) 0%, #231d2e99 100%);
}

.green-pink-gradient {
  background: var(--green);
  background: linear-gradient(90.13deg, var(--green) 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, var(--green) 1.9%, #bf61ff 97.5%);
}

.purple-text-gradient {
  background: var(--purple);
  background: -webkit-linear-gradient(to top,
    var(--purple), #ee00ff);
  background: linear-gradient(to top,
    var(--purple), #ee00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow-text-gradient {
  background: #F7DF00;
  background: -webkit-linear-gradient(to top, #F7DF00, #E7B86C);
  background: linear-gradient(to top, #F7DF00, #E7B86C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.orange-text-gradient {
  background: #f12711;
  background: -webkit-linear-gradient(to top, #f12711, #f5af19);
  background: linear-gradient(to top, #f12711, #f5af19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: var(--green);
  background: -webkit-linear-gradient(to top, var(--green), #00ce7f);
  background: linear-gradient(to top, var(--green), #00ce7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  background: var(--blue);
  background: -webkit-linear-gradient(to top, #2f80ed,
    var(--blue));
  background: linear-gradient(to top, #2f80ed,
    var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: var(--pink);
  background: -webkit-linear-gradient(to top,
    var(--pink), #fc6767);
  background: linear-gradient(to top,
    var(--pink), #fc6767);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}