@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";
@import "./_styles.scss";

body {
  overscroll-behavior: none;
  /* NOTE - The bottom 2 properties prevent the modal from replacing custom scrollbar styles with the default browser scrollbar styles. */
  
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: none;
  background-blend-mode: overlay;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}
//If you want the thumb to not interfere with the view of the navbar, you can set the z-index of the thumb to -1. This will make the thumb appear behind the navbar.
::-webkit-scrollbar {
  display: block;
  width: 15px;
  border-radius: 10px;
  background: #232323;
  &-thumb {
    background: var(--purple-black-gradient);
    border-radius: 10px;
    z-index: -1;
  }
  &-track {
    background: var(--black-gradient-alt);
    border-radius: 0px;
    //Only give the track piece the 'margin-top' property on medium and smaller screens to compensate for horizontal nav height.
    @media (max-width: 992px) {
      &-piece {
        margin-top: 55px;
      }
    }
  }
  &-corner {
    display: none !important;
    visibility: hidden !important;
  }
 &-button {
    display: none !important;
    visibility: hidden !important;
  }
}

